# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
num1 = 100
num2 = 100
print(num1 == num2)
print(id(num1))
print(id(num2))

True
10754024
10754024

змінні посилаються на один і той самий обʼєкт в памʼяті , тому що значення знаходяться в проміжку від -5 до 256. в пайтоні це зроблено для оптимізації памʼяті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
var = True
print(isinstance(var, bool))
print(isinstance(var, int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
num_int = 100
num_float = 20.5
print(num_int + num_float)
print(num_int - num_float)
print(num_int / num_float)
print(num_int * num_float)
print(num_int // num_float)
print(num_int % num_float)
print(num_int ** num_float)

120.5
79.5
4.878048780487805
2050.0
4.0
18.0
1e+41

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
num_float = int(num_float)
print(num_float)
bool1 = True
bool1 = int(bool1)
print(bool1)

20
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
emp_str_1 = str()
emp_str_2 = ""

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
normal_str = "'"
raw_str = r"'"
print(normal_str)
print(raw_str)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Panasiuk"
form_str = f"My surname is " + my_surname
print(form_str)

My surname is Panasiuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
string = "My dog is crazy."
list = string.strip(".").lower().split()
print(list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [5]:
list_1 = [1,2,3]
list_2 = list((1,2,3,4))
print(len(list_2))

4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [2]:
list_1 = [1,2,3]
list_2 = [4,5]
list_1.append(list_2)
list_1

[1, 2, 3, [4, 5]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [9]:
list_1 = [[1,2],[3,4],[5,6]]
print(list_1[-1][0])

5

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [19]:
list_1 = [
    1,
    'hi',
    True,
    False,
    [10,23],
    2.5,
    None,
    {25,50,75},
    89,
    'abc'
]
new_list = list_1[2:8]
new_list

[True, False, [10, 23], 2.5, None, {25, 50, 75}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [18]:
tuple_1 = (3,)
tuple_1

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

список це змінний тип даних, тобто ми зможемо змінити список, а кортеж це незмінний тип даних і після створення його змінити не можливо. кортеж має менше можливостей за список. список повільніший , а кортеж швидший. синтаксис списку це []. а кортежу (,). список використовуємо у випадку,якщо швидкість не має значення та дані потрібно буде змінювати, а кортеж, коли потрібна швидкість та якщо дані лишатимуться незмінними.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [40]:
tuple_1 = (0.3, 1.3, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 10.3)
new_tuple = tuple_1[0:12:2][::-1]
new_tuple

(10.3, 8.3, 6.3, 4.3, 2.3, 0.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [49]:
set_1 = set()
set_1.add(1)
set_1.add("h")
set_1

{1, 'h'}

так, множини є змінним типом даних, адже ми можемо додавати елементи до множини після її створення

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [52]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set_1 = set(my_list)
set_1

{1, 2, 8, 9, 67}

у множинах не може бути дублікатів, тому залишились унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [60]:
set_1 = {1,2,3,4}
set_2 = {2,4,5,6}
set_addition = set_1.union(set_2)
print(set_addition)
set_subtraction = set_1.difference(set_2)
print(set_subtraction)
set_intersection = set_1.intersection(set_2)
print(set_intersection)
set_sym_difference = set_1.symmetric_difference(set_2)
print(set_sym_difference)

{1, 2, 3, 4, 5, 6}
{1, 3}
{2, 4}
{1, 3, 5, 6}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [63]:
dict_1 = {}
dict_1 = {1 : "dfghj",
          "fgh" : {1,2,3},
          (100) : 24.7,
          False : ['h','g']
}
dict_1

{1: 'dfghj', 'fgh': {1, 2, 3}, 100: 24.7, False: ['h', 'g']}

список не може бутм ключем, адже це змінний тип даних і програма не зможе розрахувати для нього хеш. ключем може бути тільки незмінний тип даних.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [66]:
dict_1 = {1: {"sdf" : {(345,231) : True} },
          "wer" : 789,
          23.907 : "azxc"
          }
dict_1[1]["sdf"][(345,231)]

True

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.